.menu {
    width: 100%;
    padding: 0px;
}

.menuHeader {
    color: #ff7f82;
    margin-bottom: 10px;
}

.container {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    position: relative;
    font-size: 14px;
}

.dishes {
    list-style: none;
    border-left: 10px solid #FC7574;
    padding: 0;
    font-family: "Lucida Sans";
    margin: 0;
    font-weight: 600;
    li {padding: 10px;}
    li:nth-child(odd) {background: #E1F1FF;}
    li:nth-child(even) {background: white;}
}