$pr-color-light: hsl(0, 0%, 100%);
$pr-bg-color-light: hsl(230, 60%, 50%);
$pr-border-color-light: white;
$pr-bg-color-hr-light: hsl(230, 60%, 55%);
$pr-bg-color-active-light: #ff7f82;
$pr-color-disabled-light: hsl(0, 0%, 70%);
$pr-bg-color-disabled-light: hsl(0, 0%, 63%);
$pr-border-color-disabled-light: hsl(0, 0%, 63%);

// $pr-color-dark: darken($pr-color-light, 50%);
// $pr-bg-color-dark: darken($pr-bg-color-light, 50%);
$pr-border-color-dark: grey;
// $pr-bg-color-hr-dark: darken($pr-bg-color-hr-light, 50%);
// $pr-bg-color-active-dark: darken($pr-bg-color-light, 50%);

$sec-color-light: hsl(230, 60%, 50%);
$sec-bg-color-light: hsl(0, 0%, 100%);
$sec-border-color-light: #ff7f82;
$sec-bg-color-active-light: hsl(230, 55%, 85%);
$sec-color-disabled-light: hsl(0, 0%, 63%);
$sec-bg-color-disabled-light: hsl(0, 0%, 100%);
$sec-border-color-disabled-light: hsl(0, 0%, 63%);

.counterValue {
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

.counterButton {
    color: var(--color);
    background-color: var(--background-color);
    border-color: var(--border-color);
    border-style: solid;

    &.active:hover {
        background-color: var(--background-color-hover);
    }
    &.active {
        background-color: var(--background-color-active);
    }
    &.disabled:hover {
        background-color: var(--background-color-hover);
    }
    &.disabled {
        color: var(--color-disabled);
        background-color: var(--background-color-disabled);
        border-color: var(--border-color-disabled);
    }
}

.primary.light,
.primary {
    --color: #{$pr-color-light};
    --background-color: #{$pr-bg-color-light};
    --border-color: #{darken($pr-border-color-light, 15%)};
    &.active:hover {
        --background-color-hover: #{darken($pr-bg-color-active-light, 10%)}; //$pr-bg-color-hr-light
    }
    &.active {
        --background-color-active: #{$pr-bg-color-active-light};
    }
    &.disabled:hover {
        --background-color-hover: #{lighten($pr-bg-color-disabled-light, 20%)};
    }
    &.disabled {
        --color-disabled: #{lighten($pr-color-disabled-light, 10%)};
        --background-color-disabled: #{lighten($pr-bg-color-disabled-light, 10%)};
        --border-color-disabled: #{lighten($pr-border-color-disabled-light, 5%)};
    }
}

.primary.dark {
    --color: #{darken($pr-color-light, 50%)};
    --background-color: #{darken($pr-bg-color-light, 50%)};
    --border-color: #{$pr-border-color-dark};
    &.active:hover {
        --background-color-hover: #{darken($pr-bg-color-hr-light, 30%)};
    }
    &.active {
        --background-color-active: #{darken($pr-bg-color-light, 20%)};
    }
    &.disabled:hover {
        --background-color-hover: #{darken($pr-bg-color-disabled-light, 30%)};
    }
    &.disabled {
        --color-disabled: #{darken($pr-color-disabled-light, 50%)};
        --background-color-disabled: #{darken($pr-bg-color-disabled-light, 10%)};
        --border-color-disabled: #{darken($pr-border-color-disabled-light, 20%)};
    }
}

.secondary.light,
.secondary {
    --color: #{$sec-color-light};
    --background-color: #{$sec-bg-color-light};
    --border-color: #{$sec-border-color-light};
    &.active:hover {
        --background-color-hover: hsl(230, 55%, 80%);
    }
    &.active {
        --background-color-active: #{$sec-bg-color-active-light};
    }
    &.disabled:hover {
        --background-color-hover: #{lighten(grey, 40%)};
    }
    &.disabled {
        --color-disabled: #{$sec-color-disabled-light};
        --background-color-disabled: #{$sec-bg-color-disabled-light};
        --border-color-disabled: #{$sec-border-color-disabled-light};
    }
}

.secondary.dark {
    --color: #{lighten($sec-color-light, 10%)};
    --background-color: #{darken($sec-bg-color-light, 50%)};
    --border-color: #{darken($sec-border-color-light, 50%)};
    &.active:hover {
        --background-color-hover: #{darken($sec-bg-color-active-light, 50%)};//hsl(230, 55%, 80%);
    }
    &.active {
        --background-color-active: #{darken($sec-bg-color-active-light, 40%)};
    }
    &.disabled:hover {
        --background-color-hover: #{darken($sec-bg-color-disabled-light, 50%)};
    }
    &.disabled {
        --color-disabled: #{darken($sec-color-disabled-light, 50%)};
        --background-color-disabled: #{darken($sec-bg-color-disabled-light, 40%)};
        --border-color-disabled: #{darken($sec-border-color-disabled-light, 20%)};
    }
}

.small {
    font-size: 1em;
    border-width: 2px;
    border-radius: 0.2rem;
    width: 1.75rem;
    height: 1.75rem;
}

.medium {
    font-size: 1.25em;
    border-width: 3px;
    border-radius: 0.4rem;
    width: 2.25rem;
    height: 2.25rem;
}

.large {
    font-size: 1.5em;
    border-width: 4px;
    border-radius: 0.3rem;
    width: 3rem;
    height: 3rem;
}

.val-small {
    font-size: 1rem;
    width: 30px;
}

.val-medium {
    font-size: 1.2rem;
    width: 40px;
}

.val-large {
    font-size: 1.5rem;
    width: 50px;
}