.restaurant {
    height: auto;
}

.restaurantName {
    font-family: 'Oswald', sans-serif;
    color: #ff7f82;
    font-size: 2vw;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin: 10px auto;
}

.menu,
.reviews
{
    margin-bottom: 20px;
}

.reviewForm {
    margin: 10px auto;
}    

hr {
	width: 90%;
}

.loading {
    color: #ff7f82;
    font-weight: 600;
    text-align: center;
}

.menu {
    width: 90%;
    margin: 20px auto; 
    .link:first-child {
        margin-right: 10px;
    }
}

.link {
    color: #ff7f82;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}

.active {
    color: red;
    font-weight: 600;
    cursor: default;
    font-size: 18px;
}